
<head>
    <link rel="stylesheet" type="text/css" href="home.css">
    <link rel="stylesheet"
        onload="this.onload=null;this.rel='stylesheet'">
    <title>Itay&yoda Movies</title>
</head>    
</html>
<body>
   
 
    <div class="navbar">
      <ul>
        <li><a class="active"  href="/">Itay&yoda</a></li>
        <li><a class="nav-link" aria-current="page" href="/">movie</a></li>
        <li><a class="nav-link" href="order">order</a></li>
        <li class="signup-button"><a href="singup">Sign Up</a></li>
        <div class="clearfix"></div> 
    </ul>
    </div>
  

    <section id = "section">       
       
    </section>

    <script src="script.js"></script>

</body>
</html>

<!-- inline javascript -->
<script>
const APILINK = 'https://api.themoviedb.org/3/movie/popular?language=he&api_key=77b4c2b0372dc15482df63fa1e6a42ce&page=1'
const IMG_PATH ='https://image.tmdb.org/t/p/w500'

const main = document.getElementById("section")
const form = document.getElementById("form")
const query = document.getElementById("query");

returnMovies(APILINK)

function returnMovies(url){
    fetch(url).then(res => res.json())
    .then(function(data){
        console.log(data.results);
        data.results.forEach(element => {
            const div_card = document.createElement('div')
            div_card.setAttribute('class','card')
            const div_row = document.createElement('div')
            div_row.setAttribute('class','row')
            const div_column = document.createElement('div')
            div_column.setAttribute('class','column')
            const image = document.createElement('img')
            image.setAttribute('class','thumbnail')
            image.setAttribute('class','image')
            const a = document.createElement('a');
            a.href = "places"


            const title = document.createElement('h3')
            title.setAttribute('id','title')

            const center = document.createElement('center')

            title.innerHTML =`${element.title}`;
            image.src = IMG_PATH + element.poster_path;

            center.appendChild(image)
            div_card.appendChild(center)
            div_card.appendChild(title)
            a.appendChild(div_card)
            div_column.appendChild(a)
            div_row.appendChild(div_column)

            main.appendChild(div_row)
        });
    });
}

</script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
  crossorigin="anonymous"></script>
</body>

</html>
